*:not(body) {
  margin: 0;
  padding: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  background-color: #f7f7f7;
}
input,
select,
button {
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: white;
  cursor: pointer;
}
.dimSet {
  margin: 8px;

  border: 0;
}
.furnitureInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dimSet:focus {
  outline: 0;
}
#furnitureSelect {
  margin: 16px;
}
#furnitureSelect:focus {
  outline: 0;
}
#threeCanvas {
  outline: 5px solid black;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}
#threeCanvas:hover {
  cursor: pointer;
}
